@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
	--dark-green: rgb(26,97,0);
	--light-green: rgb(63,159,28);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Schoolbell', 'cursive';
}

//page styles

html, body, #root, .App {
	height: 100%;
}

.tundraDiv, .forestDiv, .oceanDiv {
	min-height: 800px;
}
.bodyDiv {
	background-size: cover;
	background-position: center;
	height: calc(100% - 135px);
	padding-top: 40px;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 48px;
	width: 60%;
	height: auto;
	margin: 20px auto 0 auto;
	border-radius: 20px;
	max-width: 800px;
}

h2 {
	display: flex;
	margin: 20px auto;
	justify-content: center;
	height: auto;
	background-color: yellow;
	border-radius: 20px;
	width: 45%;
	align-items: center;
	font-size: 28px;
	padding: 5px;
	max-width: 600px;
}

//nav
nav {
	background-color: var(--light-green);
	width: 100%;
	font-size: 24px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
	}
}

ul {
	display: flex;
}

a {
	color: white;
	text-decoration: none;
	padding: 22px 30px;
	font-size: 24px;
	&:hover {
		background-color: var(--dark-green);
	}
}

li {
	list-style-type: none;
	margin: 20px 0;
}

.svgTree {
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
	fill: var(--dark-green);
}

//page backgrounds
.home {
	background-image: url('images/animals.webp');
	h1 {
		background-color: yellow;
	}
}

.tundraDiv {
	background-image: url('images/tundra.webp');
	padding-top: 20px;
	h1 {
		color: white;
		background-color: green;
	}
}

.forestDiv {
	background-image: url('images/rainforest.webp');
	padding-top: 20px;
	h1 {
		background-color: blue;
		color: white;
	}
}

.oceanDiv {
	background-image: url('images/ocean.webp');
	padding-top: 20px;
	h1 {
		background-color: yellow;
	}
}

//pictures and facts 
.animalPics {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 50%;
	img {
		width: 25%;
		max-width: 350px;
		margin: 20px;
		filter: drop-shadow(0 0 2rem yellow)
	}
}

p {
	display: flex;
	margin: 20px auto;
	height: 200px;
}

.clicked {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	margin: 20px auto;
	background-color: rgba(255,255,255,.85);
	height: 200px;
	width: 50%;
	padding: 40px;
	border-radius: 30px;
	max-width: 600px;
}

//footer
.foot {
	display: flex;
	background-color: var(--light-green);
	color: white;
	padding: 10px 0;
	font-size: 18px;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 0;
}

//medium width
@media only screen and (max-width: 750px) {
	.animalPics {
		height: 40%;
		padding-bottom: 10px;
	}
	
	h1 {
		font-size: 30px;
		margin-top: 0;
	}

	.clicked {
		width: 60%;
		height: 150px;
		justify-content: center;
		font-size: 24px;
		padding: 10px;
		margin: 15px auto;
	}

	p {
		margin: 15px auto;
		height: 150px;
	}

	.container {
		justify-content: space-around;
	}

	.tundraDiv, .forestDiv, .oceanDiv {
		min-height: 0;
	}

	.svgTree {
		display: none;
	}

	h2 {
		font-size: 18px;
		padding: 10px;
		height: auto;
		width: 50%;
	}

	nav {
		padding-top: 1px;
	}
}

//small width
@media only screen and (max-width: 500px) {
	ul {
		padding-bottom: 1px;
	}

	.nav {
		a {
			padding: 22px 15px;
		}
	}

	.clicked {
		font-size: 20px;
	}

	.animalPics {
		img {
			filter: drop-shadow(0 0 1rem yellow);
		}
	}
}
