nav {
	background-color: rgb(255,133,63);
	width: 100%;
	font-size: 24px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.homeLink {
	text-decoration: none;
	color: black;
	padding: 20px 30px;
	&:hover {
		background-color: rgb(255,94,0);
	}
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	margin: 20px 0;
	a {
		color: black;
		text-decoration: none;
		padding: 20px 30px;
		&:hover {
			background-color: rgb(255,94,0);
		}
	}
}
